<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>03-07</title>
  </head>
  <body>

    <div id="example">
      <p>
        이름: <input type="text" v-model="name" v-on:keyup.13="search" placeholder="두글자 이상 입력하세요." />
      </p>
      <table id="list">
        <thead>
          <tr>
            <th>번호</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>주소</th>
          </tr>
        </thead>
        <tbody id="contacts">
          <tr v-for="contact in contactlist">
            <td>{{ contact.no }}</td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.tel }}</td>
            <td>{{ contact.address }}</td>
          </tr>
        </tbody>
      </table>
      <div v-show="isProcessing == true">조회중</div>
    </div>

    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
      var vm = new Vue({
        el: '#example',
        data: {
          name: "",
          isProcessing: false,
          contactlist: [],
        },
        // watch: {
        //   name: function(val) {
        //     // input 값이 바뀔때마다 계속 길이 체크하여 실시간 조회하는 단점이 있음. - 이를 위해서 _debounce 를 사용하고 있음.
        //     if (val.length >= 2) {
        //       this.fetchContacts();
        //     } else {
        //       this.contactlist = [];
        //     }
        //   }
        // },
        methods: {
          search: function(e) {
            //if (e.keyCode === 13) {     // 엔터키가 입력되었을 때만 처리
              var val = e.target.value;
              if (val.length >= 2) {
                this.fetchContacts();
              } else {
                this.contactlist = [];
              }
            //}
          },
          //fetchContacts: _.debounce(function() {
          fetchContacts: function() {
            this.contactlist = [];
            this.isProcessing = true;
            var url = "http://sample.bmaster.kro.kr/contacts_long/search/" + this.name;
            axios.get(url)
              .then( (response) => {    // function(response) 말고 화살표 함수 => 를 사용하는 것을 권장한다.
                console.log(response);
                if (response.status == 200) {
                  this.contactlist = response.data;
                }
                this.isProcessing = false;
              })
              .catch( (ex) => {
                console.log('exception: ', ex);
                this.isProcessing = false;
              })
          }
          //, 300)
        }
      })
    </script>
  </body>
</html>
